.my-logo {
    width: 5%;
    color: #ffffff !important;
    font-family: 'Bebas Neue', cursive;
    text-align: end;
}

.navbar button {
    filter: invert(1);
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.me-smiling-container {
    width: 60%;
}

.me-smiling {
    border-radius: 100%;
    filter: drop-shadow(2px 0px 8px);
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: #141414;
    color: #ffffff;
}

.menu a {
    font-family: 'Bebas Neue', cursive;
    color: #ffffff !important;
}
.menu a:hover {
    text-decoration: line-through;
}

.title {
    font-family: 'Satisfy', cursive;
}

.footer-styles {
    background-color: #141414;
    position: fixed;
    bottom: 0;
}

.footer-styles .row {
    padding: 6px;
}

.footer-styles .col-md-3{
    display: flex;
    justify-content: center;
}

.footer-styles a {
    color: #ffffff;
}
.footer-styles i {
    font-size: 28px;
    padding: 10%;
    border-radius: 100%;
}

.footer-styles i:hover {
transform: scale(1.1);}

.fa-envelope {
    background-color: #ea4335;
}

.fa-behance {
    background-color: #1769ff;
}
.fa-github {
    background-color: #6e5494;
}
.fa-linkedin-in {
    background-color: #0077b5;
}

.resume-container .resume-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-container .cv-link {
    background-color: #B33F40;
    color: #FDFBF9;
    display: inline;
    height: fit-content;
}

.resume-container .resume-border {
    border-right: 2px black dotted ;
    color: #141414;
}
.resume-container li{
    list-style: none;
    border-bottom: 2px black dotted ;
}

.resume-container strong {
    background-color: #f8d790;
    color: #141414;
}

.resume-container a {
    background-color: #bd90f8;
    color: black;
    text-decoration: none;
}
.resume-container a:hover {
    font-weight: bolder;
}
.resume-container .highlight-style-pink{
    display: inline;
    background-color: #ef90f8;
}
.resume-container .highlight-style-light-blue{
    display: inline;
    background-color: #90c6f8;
}
.resume-container .highlight-style-orange{
    display: inline;
    background-color: #f8d790;
}
.resume-container .highlight-style-violet{
    display: inline;
    background-color: #bd90f8;
}
.resume-container .highlight-style-green{
    display: inline;
    background-color: #90f8c4;
}

.portfolio-highlight {
    display: inline;
    background-color: #90c6f8;
}


.portfolio .col-md-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.portfolio .name-left{
    background-color: #4ca4f7b7;
    transform: rotate(270deg);
}
.portfolio .name-right{
    background-color: #4ca4f7b7;
    transform: rotate(90deg);
}
.portfolio-margin {
    margin-top: 10px;
}

.portfolio-margin .subtitle-container {
    text-align: center;
}

.portafolio-footer .footer-static {
    position: static;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.video {
    width: 45%;
}

button a {
   color: coral;
   text-decoration: none;
}

.contacto .social-media {
    border-bottom: 2px black dotted;
}

.contacto-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.contacto .col-md-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto a {
    color: #ffffff;
}
.contacto i {
    font-size: 36px;
    padding: 10%;
    border-radius: 100%;
}

.contacto i:hover {
transform: scale(1.1);}

.footer-contacto .fab, .footer-contacto .far {
    background-color: #141414;
    color: #ffffff;
}



@media only screen and (min-width:769px) and (max-width:992px) {
    .tablet-breakpoint {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .title-order {
        order: 0;
        width: 100vw;
    }

    .text-order {
        order: 1;
        width: 100vw;
    }

    .blossom-order {
        order: 2;
        width: 50vw;
    }
    .blossom-order-mobile {
        order: 3;
        width: 20vw;
    }

    .reservando-order {
        order: 2;
    }
    .reservando-order-video {
        order: 3;
    }
    .reservando-order-final {
        order: 4;
    }

    .portfolio .name-left{
        transform: rotate(0);
    }
    .portfolio .name-right{
        transform: rotate(0);
    }
    .footer-static {
        position: static;
    }
}

@media only screen and (max-width: 768px) {
    .tablet-breakpoint {
        display: flex;
        justify-content: center;
    }
    .footer-still {
        height: 35px;
        position: static;
        bottom: 0;
    }

    .title-order {
        order: 0;
        width: 100vw;
    }

    .text-order {
        order: 1;
        width: 100vw;
    }

    .resume-container .resume-border {
        border-right: none;
        text-align: end;
    }
    
    .blossom-order {
        order: 2;
    }
    .blossom-order-mobile {
        order: 3;
    }
    .reservando-order {
        order: 2;
    }
    .reservando-order-video {
        order: 3;
    }
    .reservando-order-final {
        order: 4;
    }

    .portfolio .name-left{
        transform: rotate(0);
    }
    .portfolio .name-right{
        transform: rotate(0);
    }
    .footer-static {
        position: static;
    }
}