.title-container {
    background-color: #232323;
    padding: 1rem;
    text-align: center;
    width: 100%;
}
.title {
    font-family: 'Satisfy', cursive;
}
.aboutMe-container {
    display: flex;
    margin: 3rem;
    align-items: center;
    justify-content: space-between;
}
.aboutMe-textbox {
    width: 60vw;
}
.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.me-smiling-container {
    width: 80%;
}

.me-smiling {
    width: 100%;
    border-radius: 100%;
    filter: drop-shadow(2px 0px 8px);
}