.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-logo {
    width: 5%;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    text-align: end;
    font-size: 2rem;
    padding: 1vw;
    margin-left: 3rem;
    text-decoration: none;
    }
    &-menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
        a {
        font-family: 'Bebas Neue', cursive;
        color: #ffffff;
        text-decoration: none;
            &:hover {
            text-decoration: line-through;
            }
        }
    }
}
